In [4]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
from config import username, password
%matplotlib inline

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employees2')
connection = engine.connect()

ImportError: cannot import name 'username' from 'config' (C:\Users\akg17\sql-challenge\EmployeeSQL\config.py)

In [ ]:
#List employees
employees = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])
employees.head()

In [ ]:
#list salaries
salaries = pd.read_sql('select * from salaries', connection, parse_dates=['from_date', 'to_date'])
salaries.head()

In [ ]:
#import department managers to date
dept_manager = pd.read_sql('select * from dept_manager', connection, parse_dates=['from_date', 'to_date'])
dept_manager.head()

In [ ]:
#import employee titles
titles = pd.read_sql('select * from titles', connection, parse_dates=['from_date', 'to_date'])
titles.head()

In [ ]:
titles.to_date = titles['to_date'].fillna(pd.to_datetime('2050-12-31'))
titles.head()

In [ ]:
#Count how many titles there are.
titles.title.value_counts()

In [ ]:
#Merge title and salaries df
employee_salaries = titles.merge(salaries, on='emp_no')
employee_salaries.head()

In [ ]:
employee_salaries_df.groupby('title')['salary'].mean().round(2)

In [ ]:
#plot salary graph
employee_salaries_df.hist(column='salary')

In [ ]:
#employees grouped by titles graph
employees_grouped_by_title = employee_salaries_df.groupby(['title'])['salary'].mean()

employees_grouped_by_title.plot.bar()